<h1>Admin Dashboard</h1>

<%= link_to 'New User', new_user_path %>
<br /><br />

<table class="table table-striped">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Mobile number</th>
    <th>City</th>
    <th>Account No</th>
    <th>User ID</th>
    <th>Password</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.mobile_number %></td>
    <td><%= user.city %></td>
    <td><%= link_to "#{user.account.account_number}", user.account %></td>
    <td><%= user.user_id %></td>
    <td><%= user.password %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />



