<h1>Offer Fund</h1>
<br />
<br />

<div class="span10">
<%= form_tag( { :action => :transfer_fund }, { :method => :post }) do %>
  <%= hidden_field_tag 'account_transaction[depositer]', @admin.first_name %>
  <%= hidden_field_tag 'account_transaction[transaction_type]', "OFFER" %>
  <div class="field">
    <%= label_tag "User Name" %><br />
   <%= select_tag( "account_transaction[receiver_id]", options_for_select(@users_array), :prompt => 'Select User' ) %>
  </div>
  <div class="field">
    <%= label_tag 'Amount' %><br />
    <%= text_field "account_transaction", "amount", "size" => 20 %>
  </div>  
  <div class="actions">
    <%= submit_tag "Transfer", :class => "btn btn-primary" %>
  </div>
<% end %>
</div>


