<h1>Offer Fund</h1>
<br />
<br />

<%- unless flash[:notice].blank? %>
    <div class="alert alert-success"><%= flash[:notice] %> </div>
<% end %>
<%- unless flash[:error].blank? %>
    <div class="alert alert-error"><%= flash[:error] %> </div>
<% end %>

<div class="span10">
<%= form_tag( { :action => :transfer_fund, }, { :method => :post }) do %>
  <div class="field">
    <%= label_tag "User Name" %><br />
   <%= select_tag(:user_id, options_for_select(@users_array)) %>
  </div>
  <div class="field">
    <%= label_tag 'Amount' %><br />
    <%= text_field "user", "amount", "size" => 20 %>
  </div>  
  <div class="actions">
    <%= submit_tag "Login", :class => "btn btn-primary" %>
  </div>
<% end %>
</div>


