<h1>Account Details</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= "#{@user.first_name} #{@user.last_name}" %>
</p>

<p>
  <b>Mobile number:</b>
  <%= @user.mobile_number %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<hr />

<p>
  <b>Account Number:</b>
  <%= @account.account_number %>
</p>

<p>
  <b>Balance:</b>
  <%= @account.balance %>
</p>
<hr />

<h5>Received Transactions</h5>
<%- if @account.receive_transactions.blank? %>
  No Records <br />
<%- else %>
  <table class="table table-striped">
    <tr>
      <th>Sender</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>

  <% @account.receive_transactions.each do |transaction| %>
    <tr>
      <td>
        <%= transaction.sender.present? ? "#{transaction.sender.user.first_name} #{transaction.sender.user.last_name}" : "Admin" %></td>
      <td><%= transaction.amount %></td>    
      <td><%= transaction.updated_at %></td>
    </tr>
  <% end %>
  </table>
<%- end %>

<h5>Transfer Transactions</h5>
<%- if @account.send_transactions.blank? %>
  No Records <br />
<%- else %>
  <table class="table table-striped">
    <tr>
      <th>Receiver</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>

  <% @account.send_transactions.each do |transaction| %>
    <tr>
      <td>
        <%= "#{transaction.receiver.user.first_name} #{transaction.receiver.user.last_name}" %></td>
      <td><%= transaction.amount %></td>    
      <td><%= transaction.updated_at %></td>
    </tr>
  <% end %>
  </table>
<%- end %>
