<h1>Account Details</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Mobile number:</b>
  <%= @user.mobile_number %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<hr />

<p>
  <b>Account Number:</b>
  <%= @user.account.account_number %>
</p>

<p>
  <b>Balance:</b>
  <%= @user.account.balance %>
</p>
